
@import url(https://fonts.google.com/specimen/Outfit);
  *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
  }

  body{
    min-height: 100vh;
     display:flex;
     justify-content: center;
     text-align: center;
     background-color: #E7F6F2;
  }

  .container{
    width: 333px;
    background-color:#ffffff;
    border-radius: 5%;
    overflow: hidden;
    margin:10px;
    padding:5px;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    -webkit-box-shadow: 0px 45px 70px 0px rgb(0 0 0 / 27%);
    box-shadow: 0px 45px 70px 0px rgb(0 0 0 / 27%);
  }

  .outer_container{
    margin: 30px;
  }

  img{
    width: 303px;
    margin: 10px;
    border-radius: 4%;
    object-fit: contain;
    display: block;
    max-width: 100%;
  }

  .contain p ,h3{
    background: #ffffff;
    margin:20px;
    font-weight:700;
    text-align: center;
  }
  .container p{
    margin-top: -7px;
    font-weight:400;
    font-size:14px;
    padding:10px;
     color: hsl(0deg 2% 57%);
  }

  .container h3{
    margin-top:15px;
    font-weight:700;
}

@media only screen and (max-width: 375){
    #container{
        position: absolute;
        left: 50%;
        top: 50%;
        margin:3px;
    }
}
@media only screen and (min-width:1000px){
    body{
       background:hsl(0, 0%, 100%);
    }
    #outer_container{
        background:hsl(220, 90%, 88%);
        width:70%;
        padding:100px;
        position:absolute;
        margin-top:23px;
        display:flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 0px 45px 70px 0px rgb(0 0 0 / 27%);
        box-shadow: 0px 45px 70px 0px rgb(0 0 0 / 27%);
    }
}
